body {
    margin: 0px;
}

.subtitles {
    position: relative;
    color: yellow;
    bottom: 40px;
    left: 20px;
    
}

.timeSlider {
    width: 960px;
}

.topContainer {
    display: flex;
    width: 100%;
}

.galley {
    
}

.editor {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid black;
}

.dock {
    position: fixed;
    top: 60px;
    display: flex;
    box-shadow: 10px 10px 5px #4d4d4d, -10px -10px 5px #dddddd;
    left: 0px;
    transition: left 0.5s;
}

#drawerButton {
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 8px;
    padding-left: 8px;
}

#updateButton {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}