html, body, #renkon {
    height: 100%;
}
body {
    margin: 0px;
}

.dock {
    position: fixed;
    top: 300px;
    left: 0px;
    display: flex;
    box-shadow: 10px 10px 5px #4d4d4d, -10px -10px 5px #dddddd;
    transition: left 0.5s;
    background-color: white;
}

.dock .editor {
    flex-grow: 1;
    margin: 0px 20px 0px 20px;
    background-color: #ffffff;
    border: 1px solid black;
}

.dock #buttonRow {
    display: flex;
}

.dock #drawerButton {
    align-self: center;
    padding: 40px 8px 40px 8px;
}

.dock #updateButton {
    margin-left: 40px;
}

.dock #fileName {
    border: 1px black solid;
    min-width: 160px;
    margin: 10px 10px 10px 10px;
}

.dock .button {
    margin: 10px 0px 10px 0px;
}
